body {
  margin: 0;
  box-sizing: border-box;
  color: #1E1381;
  font-family: Smooth Sans, sans-serif;
}


.logo {
  height: 40px;
  color: #1E1381;
  display: block;
  padding-left: 20px;
}


.logo g path {
  fill: #1E1381 !important;
}

.train-image {
  width: 100%
}

header {
  background-color: #f7d20f;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-spacer {
  width: 48px;
  margin-right: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 19.42px;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #fbe887;
  border-radius: 13px;
}

.actuel {
  background-color: rgba(30, 19, 129, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 13px;
}

#carte {
  width: 0;
  min-width: 100% !important;
  border: none;
  height: 400px;
}

.titre-intro {
  font-size: 19.42px;
  padding: 30px 60px 30px 140px;
  position: absolute;
  left: -44px;
  background-color: #f7d20f;
  border-radius: 60px;
  display: inline-block;
}